* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ol, ul, li {list-style: none;}
button {
    border: none;
    background:transparent;
    cursor: pointer;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeef0;
    overflow-x: hidden;
}

.wrap{
    width: 100%;
    padding: 2em;
}


.container {
    position: relative;
    margin: 0 auto;
    background-color: #eaeef0;
    border: 6px solid #eaeef0;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 1),
        8px 8px 25px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.header {
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header h1 {
    font-size: 16px;
    color: #999;
}
.header .setup {
    font-size: 20px;
    color: #999;
    margin-left: auto;
}
.header .setup span {
    cursor: pointer;
}
.header .setup span:first-child {
    margin-right: 1em;
}

.contents {
    padding:0 2em;
}
.contents input {
    color: #999;
    width: 100%;
    padding: 0.5em 1em;
    background: #eaeef0;
    border-radius: 5px;
    box-shadow: -8px -8px 10px rgba(255, 255, 255, 1),
    8px 8px 10px rgba(0, 0, 0, 0.25),
    inset 3px 3px 5px rgba(0, 0,0, 0.1),
    inset -1px -1px 5px rgba(255, 255, 255, 1);
    border: 2px solid #eaeef0;
}
.contents input::placeholder {
    color: #999;
}
.contents input:focus {
    outline:0;
}

.filter {
    display: flex;
    justify-content: end;
    margin:3em 2em 0 2em;
    padding-right: 0.5em;
}
.filter span{
    display: flex;
    align-items: center;
    color:#999;
    margin-left: 1em;
}

.filter span:nth-child(1){}
.filter span:nth-child(2){color:#1fcb36}
.filter span:nth-child(3){}

.filter span ion-icon{
    margin:0 3px 0 0;
}

.listbox {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin: 0 1em;
    padding-bottom: 1em;
}

@media (max-width: 1024px) {
    .listbox {
        grid-template-columns: repeat(3, 33.3333%);
    }
}

@media (max-width: 768px) {
    .listbox {
        grid-template-columns: repeat(2, 50%);
    }
}


.listbox .msgbox {
    color: #999;
    padding: 0.5em;
    margin:1em;
    background-color: #eaeef0;
    border: 6px solid #eaeef0;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 1),
        0px 4px 15px rgba(0, 0, 0, 0.25);

}
.listbox .msgbox .msg_header {
    font-size: 11px;
    display: flex;
    justify-content: space-between;

}
.listbox .msgbox .list {
    color: #333;
    font-size: 14px;
    padding: 1em 0;
    line-height: 1.4;
}
.listbox .msgbox .list.active {
    color:#aaa;
    text-decoration: line-through;
}
.listbox .msgbox .msg_footer {
    display: flex;
    justify-content: space-between;
}
.listbox .msgbox .msg_footer .check {
    color: #999;
}
.listbox .msgbox .msg_footer .check.active {
    color: #1fcb36;
}
.listbox .msgbox .msg_footer span {
    display: inline-block;
    cursor: pointer;
}
.listbox .msgbox .msg_footer .trash {
    margin-left: 0.5em;
}




::-webkit-scrollbar {
	width: 3px; /* 세로축 스크롤바 길이 */
	height: 20px; /* 가로축 스크롤바 길이 */
}
::-webkit-scrollbar-track {
	background-color: #ddd;
}
::-webkit-scrollbar-track-piece {
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-color: #999;
}
/* Top, Left 방향의 이동버튼 */
::-webkit-scrollbar-button:start {
	height: 0;
}
/* Bottom, Right 방향의 이동버튼 */
::-webkit-scrollbar-button:end {
	height: 0;
}

::-webkit-scrollbar-corner {
	background-color: violet; /* 우측 하단의 코너 부분 */
}
::-webkit-resizer {
	background-color: green;
}
